<div class="container">
    @if (ViewData["SuccessMessage"] != null)
    {
        <div id="successAlert" class="alert alert-success" role="alert">
            @ViewData["SuccessMessage"]
        </div>
    }

    @{
        ViewData["Title"] = "Личный кабинет";
    }
    @if (User.Identity.IsAuthenticated)
    {
        <h2>@ViewData["Title"]</h2>
        <div class="tab-container">
            <div class="tabs">
                <button class="tab-link " onclick="openTab(event, 'Tab1User')">Профиль</button>
                <button class="tab-link" onclick="openTab(event, 'Tab2User')">Заявки</button>
                @if (User.IsInRole("Employee"))
                {
                    <button class="tab-link" onclick="openTab(event, 'Tab3User')">Отчеты</button>
                }


            </div>

            <div id="Tab1User" class="tab-content">
                @if (User.IsInRole("User"))
                {
                    <button id="deleteAccountBtn" class="btn btn-outline-danger" onclick="confirmDelete()">Удалить аккаунт</button>
                }
                <div id="edit" style="border-bottom: dashed #79769b">
                    @* Здесь будет загружено частичное представление *@
                </div>
                <div id="EditPassword">
                    @* Здесь будет загружено частичное представление *@
                </div>
            </div>

            <div id="Tab2User" class="tab-content">
                @if (User.IsInRole("Employee"))
                {
                    <div id="appEd">
                        @* Здесь будет загружено частичное представление *@
                    </div>
                }
                else
                {
                    <div id="appUser">
                        @* Здесь будет загружено частичное представление *@
                    </div>
                }
            </div>
            @if (User.IsInRole("Employee"))
            {
                <div id="Tab3User" class="tab-content">

                    @await Html.PartialAsync("AnnualReportCreate", new CourseGuide.Models.AnnualReport())
                    <div id="Rep">
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (User.IsInRole("Employee"))
{
    <script>
        $(document).ready(function () {
            $.get('@Url.Action("ApplicationAllEd", "Account")', function (data) {
                $('#appEd').html(data);
            });
            $.get('@Url.Action("AnnualReportAll", "Account")', function (data) {
                $('#Rep').html(data);
            });
        });
    </script>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $.get('@Url.Action("ApplicationAllUser", "Account")', function (data) {
                $('#appUser').html(data);
            });
            $.get('@Url.Action("EditProf", "Account")', function (data) {
                $('#edit').html(data);
            });
            $.get('@Url.Action("EditPassword", "Account")', function (data) {
                $('#EditPassword').html(data);
            });

            var alertDiv = $('#successAlert');
            if (alertDiv.length > 0 && alertDiv.text().trim() !== '') {
                alertDiv.show();
                setTimeout(function () {
                    alertDiv.fadeOut('slow');
                    location.href = '/Account/Account';

                }, 3000); // Adjust the timeout value (in milliseconds)
            }
        });

        function add() {
            c = !c;
        }
        function openTab(evt, tabName) {
            // Скрыть все вкладки
            let tabContent = document.getElementsByClassName("tab-content");
            for (let i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            // Снять активный класс со всех кнопок
            let tabLinks = document.getElementsByClassName("tab-link");
            for (let i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }
            // Показать выбранную вкладку и добавить активный класс к ней
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            // Сохранить выбранную вкладку в localStorage
            localStorage.setItem("activeTabUser", tabName);
        }
        // При загрузке страницы восстановить состояние
        document.addEventListener("DOMContentLoaded", function () {
            const activeTab = localStorage.getItem("activeTabUser") || "Tab1User"; // По умолчанию Tab1
            document.getElementById(activeTab).style.display = "block";
            const tabLinks = document.getElementsByClassName("tab-link");
            for (let i = 0; i < tabLinks.length; i++) {
                if (tabLinks[i].innerText === document.getElementById(activeTab).previousElementSibling.innerText) {
                    tabLinks[i].className += " active";
                }
            }
        });
        function confirmDelete() {
            if (confirm("Вы действительно хотите удалить свой аккаунт? Это действие необратимо.")) {
                $.ajax({
                    url: '@Url.Action("DeleteAccount", "Account")',
                    type: 'GET',
                    success: function (data) {
                        // Handle success response
                        alert('Вы удалили свой аккаунт');
                        location.reload();

                        // Optionally, redirect or refresh the page
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        alert('Error deleting account: ' + xhr.responseJSON.errors);
                    }
                })
            }
        }
    </script>
}



